@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Rock+Salt&display=swap");

body {
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
    font-size: 16px;
}

header {
    position: sticky;
    top: 0;
    z-index: 9999999999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
}

.logo-nav {
    display: inline-block;
    vertical-align: middle;
    width: 15vh;
}

.logo-nav img {
    height: auto;
    width: 100%;
    padding-left: 15px;
}

.links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 30px;
    font-size: 1.5rem;
    display: block;
    font-family: oswald, sans-serif;
}

.links li:hover {
    background-color: rgba(149, 42, 66, 0.6);
}

.hamburger {
    position: absolute;
    top: 10px;
    right: 5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 40px;
}

.hamburger .line {
    height: 5px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
}

/* Logo */

/*Hero image*/
.hero-image {
    background-size: cover;
    min-height: 800px;
    position: relative;
    overflow: hidden;
    background-position: center-top;
    background-repeat: no-repeat;
    background-image: url(../images/hero-image.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.cover-logo-image {
    background-image: url(../images/artboard-1.png);
    background-size: cover;
    width: 60vh;
    height: 60vh;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*Box 1*/
.boxes {
    display: flex;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.56) 22px 22px 70px 4px;
}

.text-underline {
    text-decoration: underline;
    font-style: italic;
}

.boxes div {
    width: 100%;
    height: 60vh;
    background-color: #000000;
    box-sizing: border-box;
    color: white;
}

.box-1 {
    width: 100%;
    height: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-1 > h2 {
    font-family: rock salt;
    font-size: 3vh;
}

.box-1 > p {
    font-family: oswald sans-serif;
    font-size: 2vh;
    letter-spacing: 2px;
}

.box-1-img {
    background-image: url(../images/box-img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Parallax two*/
.parallax-two {
    background-image: url(../images/parallax-two.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Box 2*/
.box-2 {
    width: 100%;
    height: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-2 > h2 {
    font-family: rock salt;
    font-size: 3vh;
}

.box-2 > p {
    font-family: oswald sans-serif;
    font-size: 2vh;
    letter-spacing: 2px;
}

.box-2-img {
    background-image: url(../images/box-img-two.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Drinks boxes*/

.blur {
    color: transparent;
    text-shadow: 0 0 8px rgb(146, 144, 144);
}

.drinks-boxes h2 {
    text-decoration: underline;
    font-family: rock salt;
    font-size: 3vh;
}

.drinks-boxes {
    display: flex;
    text-align: center;
}

.drinks-boxes div {
    color: #fafafa;
    text-shadow: 1.5px 1.5px black;
    width: 25%;
    height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
}
.drinks-1 {
    background-image: url(../images/drinks-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    background-position: center center;
}
.drinks-2 {
    background-image: url(../images/drinks-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    background-position: center center;
}
.drinks-3 {
    background-image: url(../images/drinks-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    background-position: center center;
}
.drinks-4 {
    background-image: url(../images/drinks-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    background-position: center center;
}

/*parallax three*/
.parallax-three {
    background-image: url(../images/parallax-three.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*box three*/
.box-3 {
    width: 100%;
    height: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-3 > h2 {
    font-family: rock salt;
    font-size: 3vh;
}

.box-3 > p {
    font-family: oswald sans-serif;
    font-size: 2vh;
    letter-spacing: 2px;
}

.box-3-img {
    background-image: url(../images/box-img-three-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* parallax four */
.parallax-four {
    background-image: url(../images/parallax-four.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Form*/

.form-section {
    background: url("../images/parallax-four.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    font-family: oswald sans-serif;
}

.signup-form {
    color: #fff;
    text-shadow: 1px 1px black;
    background-color: rgba(66, 61, 61, 0.6);
    width: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 10px 40px 10px;
    text-align: center;
    text-transform: uppercase;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 90%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 3px;
}

input[type="file"],
input[type="number"] {
    margin: 5px;
}

#file {
    text-align: center;
    border: 1px solid white;
}

.buttonfx {
    color: whitesmoke;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 4px solid #eee;
    padding: 3px 10px;
    text-transform: uppercase;
    font: bold 16px "oswald", sans-serif;
    line-height: 2;
    position: relative;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.5s;
}

.buttonfx:before,
.buttonfx:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #952a42;
    z-index: -1;
    transform: translate3D(0, -100%, 0);
    transition: all 0.5s;
}

.buttonfx:before {
    background: transparent;
    z-index: -2;
    transform: translate3D(0, 0, 0);
}

.buttonfx:hover {
    color: white;
}

.buttonfx:hover:after {
    transform: translate3D(0, 0, 0);
    transition: all 0.5s;
}

.curtaindown {
    border: 1px solid #eee;
    border-bottom: 4px solid #eee;
}

.curtaindown:before,
.curtaindown:after {
    background: #952a42;
    transform: translate3D(0, -100%, 0);
}

.curtaindown:after {
    transform: translate3D(0, 100%, 0);
}

.curtaindown:hover:before,
.curtaindown:hover:after {
    transform: translate3D(0, -50%, 0);
    transition: all 0.5s;
}

.curtaindown:hover:after {
    transform: translate3D(0, 50%, 0);
}

/* Thank you page */
.thank-you-hero-image {
    background-size: cover;
    min-height: 800px;
    position: relative;
    background-position: center-top;
    background-repeat: no-repeat;
    background-image: url(../images/hero-image.jpg);
    /* background-attachment: fixed; */
    background-size: cover;
}
.thank-you-text {
    width: 80vh;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    border-radius: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.thank-you-text p {
    margin: 0 auto;
}
/* map */
.map {
    width: 60vh;
    height: 30vh;
}

.thank-you-text > h1,
h2 {
    color: whitesmoke;
    text-shadow: 0 0 8px rgb(124, 121, 121);
    text-align: center;
    justify-content: center;
}
.thank-you-text > h2 {
    font-family: oswald sans-serif;
    padding: 5px;
    font-size: 1.5rem;
}
.thank-you-text > h1 {
    font-family: Rock Salt;
    font-size: 2rem;
}

/*Footer*/

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* padding: 10px 90px;
    box-sizing: border-box; */
    background: rgba(0, 0, 0, 0.6);
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 1.5rem;
    margin: 1%;
    padding: 6%;
    color: #f0ebeb;
    margin-top: 60px;
}

@media screen and (max-width: 992px) {
    .boxes {
        flex-direction: column;
    }
}
@media (max-width: 794px) {
    .drinks-boxes {
        flex-direction: column;
    }
    .drinks-boxes div {
        width: 100%;
        height: 30vh;
    }

    .drinks-4 {
        box-shadow: rgba(0, 0, 0, 0.56) 22px 22px 70px 4px;
    }
}

@media (max-width: 568px) {
    .hamburger {
        display: flex;
    }

    .links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
    }

    .links ul {
        width: 100%;
        flex-direction: column;
    }
    .links li {
        text-align: center;
    }
    .links li a {
        padding: 13px 13px;
    }

    .links.active {
        display: flex;
    }

    .body {
        font-size: 14px;
    }
    .logo-nav img {
        display: flex;
        padding: 0;
    }

    .hero-image {
        min-height: 200px;
    }

    .cover-logo-image {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .parallax-three,
    .parallax-two,
    .parallax-four,
    .hero-image,
    .form-section {
        background-attachment: scroll;
        min-height: 400px;
    }
    .boxes div {
        border: 1px solid white;
        height: auto;
    }
    .signup-form {
        margin-top: 100px;
        width: auto;
    }

    footer {
        margin-top: 100px;
    }
    .thank-you-text {
        width: 300px;
    }

    #map {
        width: 290px;
    }

    .social-networks {
        text-align: justify;
    }
}

/* @media (max-width: 390px) {
    .boxes div {
        height: 70vh;
    } 
}*/
