body {
    margin:0; 
    padding:0;
    border:none;
    background-color:black;
}

header {
    position:sticky;
    top:0;
    z-index: 9999999999;
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,0.6);
    color:whitesmoke;
}

.logo {
    font-size:30px;
    margin:10px;
}

.links ul {
    margin:0;
    padding:0;
    display:flex;
}

.links li {
    list-style:none;
}

.links li a {
    text-decoration:none;
    color:whitesmoke;
    padding:30px;
    display:block;
}

.links li:hover {
    background-color:rgba(180,180,180,0.3)
}

.hamburger {
    position:absolute;
    top:10px;
    right:5px;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:35px;
    height:40px;
}

.hamburger .line {
    height:5px;
    width:100%;
    background-color:whitesmoke;
    border-radius:10px;
}

@media (max-width:568px) {
    .hamburger {
        display:flex;
    }
    
    .links {
       
        display:none;
        width:100%;
    }
    .navbar {
        flex-direction:column;
    }

    .links ul {
        width:100%;
        flex-direction:column;
    }
    .links li {
        text-align:center;
    }
    .links li a {
        padding:13px 13px;
    }

    .links.active {
        display:flex;
    }
}

/*Transparent nav-bar*/
/*
.header {
    position:fixed;
    display:flex;
    justify-content:space-between;
    top:0;
    left:0;
    width:100%;
    height:100px;
    padding:10px 90px;
    box-sizing:border-box;
    background:rgba(0,0,0,0.6);
    
    }
    nav .logo {
        padding:30px;
        height:100px;
    float:left;
    color:whitesmoke;
    }

    nav ul {
        list-style:none;
        
        margin:0;
        padding:0;
        display:flex;
    }
    nav ul li a{
        text-decoration:none;
        line-height:90px;
        color:whitesmoke;
        font-size:15px;
    } 
    */

    /*Hero image*/
    .hero-image {
        background-size: cover;
        min-height: 800px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/hero-image.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
    .cover-text {
        position: absolute;
        height: 100%;
        width: 100%;
        color: #f8f8ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*Box 1*/

    .boxes {
        display: flex;
        position: relative;
    }
    
    .boxes div {
        width: 100%;
        height: 50vh;
        border: 0 solid #f8f8ff;
        background-color: #000000;
        box-sizing: border-box;
        color: white;
    }
    
    .box-1 {
        width: 100%;
        height: 100%;
        padding: 0 30px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .box-1-img {
        background-image: url(../images/box-img-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*Parallax two*/
    .parallax-two {
        background-image: url(../images/parallax-two.jpg);
        min-height: 500px;
    
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*Box 2*/
    .box-2 {
        width: 100%;
        height: 100%;
        padding: 0 30px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .box-2-img {
        background-image: url(../images/box-img-two.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

/*parallax three*/
.parallax-three {
    background-image: url(../images/parallax-three.jpg);
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    /*box three*/
    .box-3 {
        width: 100%;
        height: 100%;
        padding: 0 30px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .box-3-img {
        background-image: url(../images/box-img-three.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*parallax four*/
    .parallax-four {
        background-image: url(../images/parallax-four.jpg);
        min-height: 500px;
    
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
/*Footer*/

footer {
    bottom:0;
    left:0;
    width:100%;
    height:100px;
    padding:10px 90px;
    box-sizing:border-box;
    background:rgba(0,0,0,0.6);
}

@media screen and (max-width: 992px) {
    .boxes {
        flex-direction: column;
    }
}